COMPOSE_PROJECT_NAME=monitoringstack

GRAFANA_ADMIN_USER=user
GRAFANA_ADMIN_PASSWORD=changeme

SMTP_FROM=test@gmail.com
SMTP_SMARTHOST=smtp.gmail.com:587
SMTP_AUTH_USERNAME=test@gmail.com
SMTP_AUTH_PASSWORD=dummy_password
ALERT_EMAIL_TO=test@gmail.com
